/*
Colors Used
Black: #000;
ErrRed: #8b0000;
purple: #625779;
orange: #dd8e5a;
*/

/* CSS Variables */
:root {
  --text-color: #000;
  --primary-color: green;
  --primary-font-size: 23px;
  --unopened-link: #000;
  --visited-link: #dd8e5a;
  --active-link: blue;
  --link-font-size: 23px;
  --btn-background: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: var(--primary-font-size);
  line-height: 1.6;
  background-color: var(--primary-background);
  color: var(--text-color);
  height: 100%;
  width: 100%;
  margin: 0;
}

/* ------ Links ------ */

a {
  color: var(--unopened-link);
  font-size: var(--link-font-size);
}

a:visited {
  color: var(--visited-link);
  font-size: var(--link-font-size);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.2s;
}

a:active {
  color: var(--active-link);
}

/* ------ Buttons ------ */

button,
.btn,
.btn_secondary {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  background-color: var(--btn-background);
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover,
.btn:active {
  transition: 0.2s opacity;
  opacity: 0.8;
}

/* ------ NAVIGATION ------ */
#navbar {
  clear: all;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 1s;
  z-index: 5;
}

.top-nav {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.top-nav a {
  float: right;
  display: block;
  color: var(--primary-font-color);
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}

a.logo-link {
  padding-top: 7px;
  padding-right: 7px;
  padding-left: 6px;
  padding-bottom: 1px;
  float: left;
}

.top-nav a:hover {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.top-nav a.active {
  background-color: rgba(252, 252, 252, 0.2);
  color: var(--primary-font-color);
  border-radius: 5px;
}

a.logo-link:hover {
  background-color: var(--primary-color);
}

.top-nav .icon {
  background: var(--primayr-background);
  display: none;
}

/* ------ Hero Image ------ */

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/homepage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

/* ------ Main Content ------ */

.main-content {
  text-align: center;
  color: white;
}

.main-title {
  margin: 2rem;
  padding: 1rem;
}

.pkf-title {
  font-size: 8vw;
}

.pkf-slogan {
  font-size: 5vw;
}

.fb-btn {
  text-align: center;
}

/* ------ PKF Overhead ------*/

.pkf-overhead {
  height: 50%;
  width: 100%;
}

/* ------ Footer ------ */

.main-footer {
  background-color: slategrey;
  position: absolute;
  width: 100%;
  padding: 5px;
  clear: both;
  display: flex;
  flex-direction: column;
}

.footer-head {
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0 2rem 0;
}

/* ------ Media Queries ------ */

/* ------ Navbar media Query ------ */

@media screen and (max-width: 600px) {
  .top-nav a:not(:first-child) {
    display: none;
  }

  .top-nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .top-nav.responsive {
    position: relative;
  }

  .top-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ------ Main Content ------ */

@media screen and (max-width: 600px) {
  .main-content {
    margin-top: 4rem;
  }
}
